# Challenge Set 9
## Part I: W3Schools SQL Lab 

*Introductory level SQL*

--

This challenge uses the [W3Schools SQL playground](http://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all). Please add solutions to this markdown file and submit.

1. Which customers are from the UK?

```SQL
SELECT * FROM Customers WHERE Country = "UK";
```

2. What is the name of the customer who has the most orders?

```SQL
SELECT CustomerID, COUNT(*) AS Mode FROM Orders GROUP BY CustomerID ORDER BY Mode DESC Limit 1;
```

Then

```SQL
SELECT CustomerName FROM Customers WHERE CustomerID = 20;
```

3. Which supplier has the highest average product price?

```SQL
SELECT SupplierID, AVG(Price) AS Average FROM Products GROUP BY SupplierID ORDER BY Average DESC Limit 1;
```

4. How many different countries are all the customers from? (*Hint:* consider [DISTINCT](http://www.w3schools.com/sql/sql_distinct.asp).)

```SQL
SELECT DISTINCT Country FROM Customers;
```

5. What category appears in the most orders?

```SQL
SELECT OrderDetails.ProductID, Products.ProductID, SUM(OrderDetails.Quantity) AS Sum FROM OrderDetails INNER JOIN Products ON OrderDetails.ProductID=Products.ProductID GROUP BY OrderDetails.ProductID ORDER BY Sum DESC Limit 1;
```

6. What was the total cost for each order?

```SQL
SELECT DISTINCT OrderDetails.OrderID, OrderDetails.ProductID, Products.Price, OrderDetails.Quantity, SUM(ROUND(Products.Price*OrderDetails.Quantity, 2)) AS Total FROM Products INNER JOIN OrderDetails on Products.ProductID=OrderDetails.ProductID GROUP BY OrderID;
```

7. Which employee made the most sales (by total price)?

```SQL
SELECT DISTINCT OrderDetails.OrderID, OrderDetails.ProductID, Orders.EmployeeID, Products.Price, OrderDetails.Quantity, ROUND(Products.Price*OrderDetails.Quantity, 2) AS Total FROM Products INNER JOIN OrderDetails ON Products.ProductID=OrderDetails.ProductID INNER JOIN Orders ON Orders.OrderID=OrderDetails.OrderID GROUP BY Orders.EmployeeID ORDER BY Total DESC Limit 1;
```

8. Which employees have BS degrees? (*Hint:* look at the [LIKE](http://www.w3schools.com/sql/sql_like.asp) operator.)

```SQL
SELECT * FROM Employees WHERE Notes LIKE '%BS%'
```

9. Which supplier of three or more products has the highest average product price? (*Hint:* look at the [HAVING](http://www.w3schools.com/sql/sql_having.asp) operator.)

```SQL
SELECT SupplierID, COUNT(ProductName) AS ProdCount, AVG(Price) AS Average FROM Products GROUP BY SupplierID HAVING ProdCount >= 3 ORDER BY Average DESC Limit 1;
```

# Challenge Set 9
## Part II: Baseball Data

*Introductory - Intermediate level SQL*

--

Please complete this exercise via SQLalchemy and Jupyter notebook.

We will be working with the Lahman baseball data we uploaded to your AWS instance in class. 


1. What was the total spent on salaries by each team, each year?

2. What is the first and last year played for each player? *Hint:* Create a new table from 'Fielding.csv'.

3. Who has played the most all star games?

4. Which school has generated the most distinct players? *Hint:* Create new table from 'CollegePlaying.csv'.

5. Which players have the longest career? Assume that the `debut` and `finalGame` columns comprise the start and end, respectively, of a player's career. *Hint:* Create a new table from 'Master.csv'. Also note that strings can be converted to dates using the [`DATE`](https://wiki.postgresql.org/wiki/Working_with_Dates_and_Times_in_PostgreSQL#WORKING_with_DATETIME.2C_DATE.2C_and_INTERVAL_VALUES) function and can then be subtracted from each other yielding their difference in days.

6. What is the distribution of debut months? *Hint:* Look at the `DATE` and [`EXTRACT`](https://www.postgresql.org/docs/current/static/functions-datetime.html#FUNCTIONS-DATETIME-EXTRACT) functions.

7. What is the effect of table join order on mean salary for the players listed in the main (master) table? *Hint:* Perform two different queries, one that joins on playerID in the salary table and other that joins on the same column in the master table. You will have to use left joins for each since right joins are not currently supported with SQLalchemy.

In [2]:
from psycopg2 import connect
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

from sqlalchemy import create_engine

In [3]:
params = {
    'host': '', #your Amazon IP
    'user': 'ubuntu', 
    'port': 5432
}

In [16]:
connection = connect(**params, dbname='baseball')
cursor = connection.cursor()

In [ ]:
# Question 1 Solution

query1 = """
SELECT teamid, yearid, sum(salary) as sum FROM salaries GROUP BY teamid, yearid ORDER BY yearid, sum DESC;
"""
cursor.execute(query1)
cursor.fetchall()

In [ ]:
# Question 2 Solution
query2 = """
SELECT playerid, MIN(yearID) as start, MAX(yearID) as end FROM fielding GROUP BY playerid;
"""
cursor.execute(query2)
cursor.fetchall()

In [17]:
# Question 3 Solution
query3 = """
SELECT playerid, COUNT(playerid) as sum FROM allstarfull GROUP BY playerid ORDER BY sum DESC limit 1;
"""
cursor.execute(query3)
cursor.fetchall()

[('aaronha01', 25)]

In [ ]:
# Question 4 Solution
query4 = """
SELECT DISTINCT schoolID, COUNT(playerID) FROM schoolsplayers GROUP BY playerid ORDER BY count DESC limit 1;
"""
cursor.execute(query4)
cursor.fetchall()

In [ ]:
# Question 5 Solution

query5 = """
SELECT playerid, (DATE(finalGame)-DATE(debut)) as career FROM master GROUP BY playerid ORDER BY career DESC;
"""
cursor.execute(query5)
cursor.fetchall()

In [ ]:
# Question 6 Solution

query6 = """
SELECT playerid, EXTRACT(MONTH FROM DATE(debut)) as dm FROM master GROUP BY playerid ORDER BY dm DESC;
"""
cursor.execute(query6)
cursor.fetchall()

In [ ]:
# Question 7 Solution

# Sorry I'm not sure I understand the question properly.